{% extends 'baseProyecto.html' %}


{% block content %}
    <br>
    <br>
    <br>

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'inicio' %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>

                        </div>
                        <h3>Mis Proyectos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-sm-9 justify-content-center">
                                {% if Proyecto %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Proyecto</th>

                                            <th>Entrar</th>
                                        </tr>
                                        </thead>
                                        {% for r in Proyecto %}
                                            {% if r.active %}
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <h5 class>{{ r.name }}</h5>
                                                        <h5> User_id: {{ user.id }}</h5>
                                                    </td>
{#                                                    {% if modificar %}#}
{#                                                        <td class=""">#}
{#                                                            <a href="{% url 'modificar' r.id %}" class="btn btn-info"><i#}
{#                                                                    class="fas fa-edit"></i></a>#}
{#                                                        </td>#}
{#                                                    {% endif %}#}
                                                    <td>
                                                        <a type="submit" href="{% url 'verProyecto' r.id %}"
                                                           class="btn btn-danger"><i class="fas fa-eye"></i></a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <div class="alert alert-danger mt-4"> No tiene proyectos</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

