{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Proyecto Nuevo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" >
        <div class="card col-5 text-center offset-1 mt-3 row ">

                <div class="container mt-1 mb-1">
                    <div class="form-group col-6 text-center offset-3">
                        <table class="table table-bordered table-sm">
                            {{ formaProyecto }}
                        </table>
                        <button type="submit">Guardar</button>
                        {% csrf_token %}
                    </div>
                </div>

        </div>
    </form>
</body>
{% endblock %}
