{% extends 'base.html' %}

{% block content %}
    <br><br><br><br><br>
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" >
        <div class="card col-5 text-center offset-1 mt-3 row ">

                <div class="container mt-1 mb-1">
                    <div class="form-group col-6 text-center offset-3">
                        <table class="table table-bordered table-sm">
                            {{ formaProyecto }}
                        </table>
                        <button type="submit">Guardar</button>
                        {% csrf_token %}
                    </div>
                </div>

        </div>
    </form>
{% endblock %}
