{% extends 'baseProyecto.html' %}

{% block content %}
    <br>
    <br>
    <br>

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'misproyectos' user.id %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>

                        </div>
                        <h3> {{ Proyecto.name }}</h3>

                        <div class="bg-warning">
                            {% if Proyecto.estado == 'E' %}Espera{% endif %}
                            {% if Proyecto.estado == 'I' %}Iniciado{% endif %}
                            {% if Proyecto.estado == 'P' %}Pausado{% endif %}
                            {% if Proyecto.estado == 'C' %}Cancelado{% endif %}
                        </div>
                        <div class="float-right mt-3">

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card " style="height:18rem;">
                                    <div class="text-center card-header bg-info">
                                        <h3 class="card-title">
                                            TO DO
                                        </h3>
                                    </div>
                                    <div class="card-body text-primary overflow-auto">
                                        <p class="card-text ">
                                            {{ u.descripcion }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card " style="height:18rem;">
                                    <div class="text-center card-header bg-info">
                                        <h3 class="card-title">
                                            DOING
                                        </h3>
                                    </div>
                                    <div class="card-body text-primary overflow-auto">
                                        <p class="card-text ">
                                            {{ u.descripcion }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card " style="height:18rem;">
                                    <div class="text-center card-header bg-info">
                                        <h3 class="card-title">
                                            DONE
                                        </h3>
                                    </div>
                                    <div class="card-body text-primary overflow-auto">
                                        <p class="card-text ">
                                            {{ u.descripcion }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mt-6 mb-4 flex-md-row">
                            <div class="col-3 offset-9 mt-3">
                                {% if iniciar_proyecto %}
                                    {% if Proyecto.estado == 'E' %}
                                        <a href="{% url 'iniciarProyecto' Proyecto.id %}"
                                           class="btn btn-lg btn-primary float-right">
                                            INICIAR
                                            <i class="fas fa-play-circle" title="Poner en marcha el proyecto"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
