{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                {% if Us %}
                    <div class="card">
                        <div class="card-header bg-gradient-indigo text-center">
                            <div class="btn-group btn-group-sm float-left">
                                <a href="{% url 'us' Proj.id %}" class="btn btn-info">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </div>
                            <h3> {{ Us.name.upper }}</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-primary">
                                Descripción:
                                {{ Us.descripcion }}
                            </p>
                            <p class="text-primary bg-gradient-warning">
                            Estado:
                                {% for s in Us.status %} <!-- Ciclo para obtener el estado del US -->
                                    {% if s.0 == Us.estado %}
                                       {{ s.1 }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
