{% extends 'baseProyecto.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
    {#            Soy una <SPAN title="Soy un tooltip">prueba de tooltip</SPAN>.#}
                {% if Us %}
                    <div class="card">
                        <div class="card-header bg-gradient-indigo text-center">
                            <div class="btn-group btn-group-sm float-left">
                                <a href="{% url 'sprintKanban' pk=Proyecto.id sp_pk=sprimt.id %}" class="btn btn-info">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
        
                            </div>
                            <div class="btn-group btn-group-sm float-right">
                                <h5 class="mr-3">Prioridad</h5>
                                <div class="card bg-gradient-danger text-white">
        
                                    <p class="m-1">
                                        {% if Us.prioridad == 5 %}
                                            <i class="fas fa-angle-double-up"></i>
                                        {% endif %}
                                        {% if Us.prioridad == 4 %}
                                            <i class="fas fa-angle-up"></i>
                                        {% endif %}
                                        {% if Us.prioridad == 3 %}
                                            <i class="fas fa-equals"></i>
                                        {% endif %}
                                        {% if Us.prioridad == 2 %}
                                            <i class="fas fa-angle-down"></i>
                                        {% endif %}
                                        {% if Us.prioridad == 1 %}
                                            <i class="fas fa-angle-double-down"></i>
                                        {% endif %}
                                        {{ Us.get_prioridad }}
                                    </p>
                                </div>
                            </div>
                            <h3> {{ Us.name.upper }}</h3>
                        </div>
                        <div class="card-body">
        
                            <h5> Responsable: </h5>
                            {% if Us.user %}
                                {{ Us.user }}
                            {% else %}
                                Sin asignar
                            {% endif %}
        
        
                            <h5>Descripción  <a href="{% url 'edit_us' pk=Proyecto.id us_pk=Us.id %}"
                               class="btn-sm btn-info"><i
                                    class="fas fa-edit"></i></a></h5>
        
                            <p class="bg-gray-light">{{ Us.descripcion }}</p>
        
                            <div class="card-footer">
                                <div class="btn-group btn-group-sm float-right">
        
                                    <div class="card bg-gradient-warning text-white ">
                                        <p class="m-2"><i class="fas fa-tags"></i>
                                            {% if Us.etiqueta %}
                                                {{ Us.etiqueta }}
                                            {% else %}
                                                Sin Etiqueta
                                            {% endif %}
                                        </p>
        
                                    </div>
                                </div>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Story Point</th>
                                        <th></th>
                                        <th>Horas trabajadas</th>
                                        <th></th>
                                        <th>Horas Restantes</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            {% if Us.storypoints %}
                                                <div class="card bg-gradient-green text-center"> {{ Us.storypoints }}hs</div>
                                            {% else %}
                                                <div class="card bg-gradient-gray text-center"> 0 h</div>
                                            {% endif %}
                                        </td>
                                        <td></td>
                                        <td>
                                            {% if Us.storypoints %}
                                                <div class="card bg-gradient-green text-center"> {{ Us.storypoints }}hs</div>
        
                                            {% else %}
                                                <div class="card bg-gradient-green text-center"> 0 h</div>
                                            {% endif %}
                                        </td>
                                        <td></td>
                                        <td>
                                            {% if Us.storypoints %}
                                                <div class="card bg-gradient-green text-center"> {{ Us.storypoints }}hs</div>
                                            {% else %}
                                                <div class="card bg-gradient-primary text-center"> 0 h</div>
                                            {% endif %}
                                        </td>
        
        
                                    </tr>
        
                                    </tbody>
        
                                </table>
        
        
                                <div class="btn btn-group float-right">
        
                                    <a href="{% url 'histo' pk=Proyecto.id us_pk=Us.id %}" class="btn btn-info"
                                       type="button">Ver Historial</a>
        
        
                                    <a href="{% url 'tareas_sprimt' pk=Proyecto.id sp_pk=sprimt.id us_pk=Us.id %}" class="btn btn-primary"
                                       type="button">Tareas</a>
        
        
                                    <a type="submit"
                                       href="{% url 'ver_comentarios' pk=Proyecto.id us_pk=Us.id %}"
                                       class="btn btn-success">
                                        Comentarios
                                    </a>
        
        
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
