{% extends 'baseProyecto.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                                <a href="{% url 'ver_comentarios' pk=Proyecto.id us_pk=Us.id %}" class="btn btn-info">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </div>
                        <h3> Agregue comentarios al User Story {{ Us.name.upper }}, id:{{ Us.id }}</h3>
                    </div>
                    <div class="card-body">

                        <form method="post" action="">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <input class="btn btn-primary" type="submit" value="Guardar">

                        </form>

                    </div>
                    <div class="card-footer">
                        <div class="mt-6 mb-4 flex-md-row">
                            <div class="col-3 offset-9 mt-3">
                                <a href="{% url 'ver_comentarios' pk=Proyecto.id us_pk=Us.id %}" class="btn btn-lg btn-primary float-right" type="button">
                                    Cancelar
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}