{% extends 'baseProyecto.html' %}
{% block content %}
    <br><br><br><br>
    <div class="card col-9 text-center offset-1 mt-3 row">
        <div class="col-8  offset-2 ">
            <div class="card-body p-0">
                <div class="bg-gradient-indigo mt-5 col-7 offset-3">
                    <h3 class="align-content-center ">Historial de Comentarios del US: {{ u.name }} del {{ Proyecto.name }}</h3>
                </div>
                {% if historial %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Comentario</th>
                            <th>Autor</th>
                            <th>Proyecto</th>
                            <th>User Story</th>
                            <th>Fecha de modificacion</th>
                        </tr>
                        </thead>
                        {% for h in historial %}
                            <tbody>
                            <tr>
                                {% if h.activo %}
                                    <td><h5 class="card-title">{{ h.comentarios }}</h5> </td>
                                    <td><h5 class="card-title">{{ h.creador }}</h5> </td>
                                    <td><h5 class="card-title">{{ h.project_name }}</h5> </td>
                                    <td><h5 class="card-title">{{ h.us_name }}</h5> </td>
                                    <td><h5 class="card-title">{{ h.fecha_modificacion }}</h5> </td>
                                {% else%}

                                    <td style="background-color: rgba(250,0,0,0.6);" ><h5 class="card-title">{{ h.comentarios }}</h5> </td>
                                    <td style="background-color: rgba(250,0,0,0.6);"><h5 class="card-title">{{ h.creador }}</h5> </td>
                                    <td style="background-color: rgba(250,0,0,0.6);;"><h5 class="card-title">{{ h.project_name }}</h5> </td>
                                    <td style="background-color: rgba(250,0,0,0.6);"><h5 class="card-title">{{ h.us_name }}</h5> </td>
                                    <td style="background-color: rgba(250,0,0,0.6);"><h5 class="card-title">{{ h.fecha_modificacion }}</h5> </td>
                                {% endif %}
                            </tr>


                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="mt-6 mb-4 flex-md-row">
            <div class="col-3 offset-9 mt-3">
                <a href="{% url 'ver_comentarios' pk=Proyecto.id us_pk=u.id %}" class="btn btn-lg btn-primary float-right">
                    Atras
                </a>
            </div>

        </div>
    </div>


{% endblock %}
