/principalApp/migrations/
/principalApp/__pycache__/
/loginSSO/migrations/
/loginSSO/__pycache__/
/usuario/migrations/
/usuario/__pycache__/
/project/migrations/
/project/__pycache__/
/miembros/migrations/
/miembros/__pycache__/
/roles/migrations/
/roles/__pycache__/
/tarea/migrations/
/tarea/__pycache__/
/us/migrations/
/us/__pycache__/
/etiqueta/migrations/
/etiqueta/__pycache__/
/tests/__pycache__/
