/principalApp/__pycache__/
/loginSSO/__pycache__/
/usuario/__pycache__/
/project/__pycache__/
/miembros/__pycache__/
/roles/__pycache__/
/tarea/__pycache__/
/us/__pycache__/
/etiqueta/__pycache__/
/tests/__pycache__/
/venv/