/principalApp/migrations/
/loginSSO/migrations/
/usuario/migrations/
/project/migrations/
/miembros/migrations/
/roles/migrations/
/tarea/migrations/
/etiqueta/migrations/
/us/migrations/
/notificacion/migrations/
