{% extends 'baseProyecto.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'sprintKanban' pk=Proyecto.id sp_pk=sprint.id %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <h3> equipo</h3>
                    </div>
                    <div class="card-body">

                        {% if equipo %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Equipo
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                        {% for permiso in permisos %}
                                            {% if permiso.codename == 'view_equipo' %}
                                                <a type="submit"
                                                   href="{% url 'lista_miembro_equipo' Proyecto.id sprint.id equipo.id %}"
                                                   class="btn btn-info"><i class="fas fa-eye"></i></a>
                                            {% endif %}
                                            {% if permiso.codename == 'change_equipo' %}
                                                {% if sprint.estado == 1 %}
                                                    <a type="submit"
                                                       href="{% url 'editar_equipo' Proyecto.id sprint.id equipo.id %}"
                                                       class="btn btn-primary"><i
                                                            class="fas fa-edit"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        {% else %}
                            <div class="alert alert-danger mt-4"> No existe equipo</div>
                        {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
