{% extends 'baseProyecto.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <h3> Crear User Story</h3>
                    </div>

                    <div class="card-body">
                        <div class="col-8 offset-2">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="card mt-3 row">
                                    <div class="card-body">
                                        {{ miembro|crispy }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="{% url 'miembros' Proyecto.id %}" class="btn btn-primary mr-5"
                                       type="button">Cancelar</a>
                                    <input class="btn btn-primary" type="submit" value="Guardar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

