{% extends 'baseProyecto.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'verProyecto' Proyecto.id %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <h3> Roles de proyecto</h3>
                    </div>
                    <div class="card-body">
                          {% if roles %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Miembros</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for rol in roles %}
                            <tbody>
                            <tr>
                                <td><h5 class="card-title">{{rol.name}}</h5></td>
                                <td>
                                    {% for p in Miembros%}
                                         {% if p.rol.id == rol.id %} {{ p.user.first_name }} {{p.user.email}} {{p.id}}<br>{% endif %}
                                    {% endfor %}
                                </td>
                                <td class=" py-0 align-middle">
                                    <div class="btn-group btn-group-sm">
                                        {% if not rol.name == 'Scrum Master' and not rol.name == 'Product Owner' and not rol.name == ''%}
                                            <a href="{% url 'modificarRolProyecto' Proyecto.id  rol.id %}" class="btn btn-info"><i
                                                    class="fas fa-edit"></i></a>
                                            <a type="submit" href="#" class="btn btn-danger"><i
                                                    class="fas fa-trash"></i></a>
                                        {%  endif %}
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        {% endfor %}
                    </table>

                {% else %}
                    <div class="alert alert-danger mt-4"> No existe Roles</div>
                {% endif %}

                    </div>
                    <div class="card-footer">
                            <div class="float-right">

                                <a href="{% url 'agregarRolProyecto' Proyecto.id %}" class="btn btn-primary">
                                    Crear Rol
                                </a>
                                <a href="{% url 'roles_miembros' Proyecto.id%}"
                                   class="btn btn-primary">
                                    Asignar Rol
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


