


{% extends 'baseProyecto.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'verRolesProyecto' Proyecto.id %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <h3> Roles</h3>
                    </div>
                    <div class="card-body">

                        {% if Roles %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Opciones</th>
                                    <th></th>
                                </tr>
                                </thead>
                                {% for r in Roles %}
                                    {% if r.name %}
                                        <tbody>
                                        <tr>
                                            <td><h5 class="card-title">{{ r.name }}</h5></td>
                                            <td class=" py-0 align-middle">
                                                {% if r.name != "Scrum Master" %}
                                                    <div class="btn-group btn-group-sm">
                                                        <a href="{% url 'asignar_rolProyecto' pk=Proyecto.id rl_pk=r.id %}"
                                                           class="btn btn-info"><i
                                                                class="fas fa-edit"></i></a>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>

                                    {% endif %}
                                {% endfor %}

                            </table>

                        {% else %}
                            <div class="alert alert-danger mt-4"> No existe Roles</div>
                        {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
