{% extends 'baseProyecto.html' %}



{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'verProyecto' Proyecto.id %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <h3> Miembros</h3>
                    </div>
                    <div class="card-body">
                        {% if ver %}
                            <div class="row">
                                <table>
                                    {% for r in ver %}
                                        <tr>
                                            <td>
                                                <h5 class="card-title">
                                                    <i class="far fa-circle"></i>
                                                    {{ r.user }}
                                                    {% if not r.rol.name == 'Scrum Master' and not r.rol.name == 'Product Owner' and not r.rol.name == 'Desarrollador'%}
                                                        {% for permiso in permisos %}
                                                            {% if permiso.codename == 'delete_miembro' %}
                                                                <div class="btn-group btn-group-sm ">
                                                                    <a type="submit" href="{% url 'eliminado' Proyecto.id r.id %}"
                                                                       class="btn btn-danger"><i
                                                                            class="fas fa-trash"></i></a>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </h5>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-danger mt-4"> No existe Miembros</div>
                        {% endif %}

                    </div>
                {% for permiso in permisos %}
                    {% if permiso.codename == 'add_miembro' %}
                        <div class="card-footer">
                            <div class="mt-6 mb-4 flex-md-row">
                                <div class="col-3 offset-9 mt-3">
                                    <a href="{% url 'agregarMiembro' Proyecto.id %}" class="btn btn-lg btn-primary float-right">
                                        Agregar miembros
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
