{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="card col-9 text-center offset-1 mt-3 row">
        <div class="col-8  offset-2 ">
            <div class="card-body p-0">
                <div class="bg-gradient-indigo mt-5 col-5 offset-3">
                    <h3 class="align-content-center ">Usuarios</h3>
                </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for r in Usuarios %}
                                <tbody>
                                <tr>
                                    <td><h5 class="card-title">{{ r.first_name}}</h5> </td>

                                    <td><h5 class="card-title">{{ r.email}}</h5></td>

                                    <td>{{ r.rol }}</td>

                                    <td class=" py-0 align-middle">
                                        <div class="btn-group btn-group-sm">

                                            <a href="{% url 'asignar_rol' r.id %}" class="btn btn-info"><i
                                                    class="fas fa-edit"></i></a>

                                        </div>
                                    </td>



                                </tr>


                                </tbody>
                        {% endfor %}
                    </table>

            </div>
        </div>

        <div class="mt-6 mb-4 flex-md-row">
            <div class="col-3 offset-9 mt-3">
                <a href="{% url 'inicio' %}" class="btn btn-lg btn-primary float-right">
                    Atras
                </a>
            </div>

        </div>
    </div>


{% endblock %}