{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <br>
    <br>

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <div class="btn-group btn-group-sm float-left">
                            <a href="{% url 'reportes' %}" class="btn btn-info">
                                <i class="fas fa-chevron-left"></i>
                            </a>

                        </div>
                        <h3>Reportes - Proyectos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-sm-9 justify-content-center">

                                <form method="POST"> {% csrf_token %}
                                    {{ form|crispy }}

                                    <input class="btn btn-success float-right" type="submit" value="enviar">
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

