@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
/*estilos generales del body*/
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,hsla(204, 64%, 44%, 0.808), hsla(282, 44%, 47%, 0.89)), url('../img/scrum_7.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  margin-left: 100px;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*estilos del header*/
header{
  background: linear-gradient(120deg,hsla(204, 64%, 44%, 0.904), hsla(282, 44%, 47%, 0.945));
  /*sin espacio a los costados*/
  margin: 0;
  /*sin bordes*/
  padding: 0;
  /*alto del header*/
  height: 100px;
  /*ancho del header*/
  width: 100%;
  /*por si nuestra página necesite ser scrolleable así se queda fijo el header*/
  position: fixed;
  z-index: 100;
  /*así se adapta según ocurran eventos*/
  display: flexbox;
  margin-left: -34px;
}
/*estilos del menú de navegación*/
nav{
  /*con esto los div's dentro del nav se muestran de manera flexible*/
  /*y pasa a mostrarse uno al lado del otro*/
  display: flex;
  /*esto hace que haya cierto espacio entre los div*/
  /*por defecto se dirigen a los extremos del nav*/
  justify-content: space-between;
  width: 80%;
  height: 100px;
}
/*estilos de la barra desplegable vertical*/
.nav-menu-vertical{
  /*sino por defecto le da margen y se pierden pixeles*/
  margin: 0;
  /*así el pico de altura del boton es el mismo que el header y se centra*/
  line-height: 100px;
  /*espaciado respecto al borde izquierdo del header*/
  padding-left: 0;
  /*color de las barras*/
  color: white;
  /*tamaño de las barras*/
  font-size: 40px;
  width: 100px;
  transform: translateX(10px);
}
/*contenedor del ícono*/
.nav-menu-vertical i{
  font-size: 40px;
  /*movimiento libre*/
  position: center;
  cursor: pointer;
}
/*estilo del contenedor de los botones superiores*/
.nav-menu-horizontal{
  /*para que no se pierda pixeles*/
  margin: 0;
  /*espacio respecto al borde derecho del header*/
  padding-right: 20px;
  /*se muestra en una única fila*/
  display: flex;
  /*se saca el punto delante*/
  list-style: none;

}
/*para darle forma a cada boton superior*/
nav > ul > li > a {
  width: 250px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  margin: 10px;
}
/*para darle forma al pasar encima el puntero*/
nav > ul > li > a:hover {
  /*darle el fondo del color*/
  background: linear-gradient(120deg,hsla(204, 64%, 44%, 0.904), hsla(282, 44%, 47%, 0.89));
  /*darle forma radial*/
  border-radius: 45px;
  width: 400px;
  height: 100px;
  /*color del borde*/
  border-color: white;
  /*sin subrayado*/
  text-decoration: solid;
  /*tamaño de letra*/
  font-size: 15px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  color: white;

}
/*este es el li que contiene cada item <a>*/
.nav-menu-horizontal-item{
  /*centrado vertical*/
  line-height: 100px;
  margin: 0 10px;
  width: max-content;
}
/*este es cada link de <a>*/
.nav-menu-horizontal-link{
  /*color de cada texto de la etiqueta <a>*/
  color: white;
  /*sin subrayado*/
  text-decoration: none;
}
nav > div > i{
  padding-left: 40px;
}


/*estilos del menu side*/
.menu__side{
  width: 66px;
  height: 100%;
  background: rgba(0, 0, 255, 0.529);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 14px;
  /*por ahora*/
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*ocultar el scroll de chrome, safari u opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}

.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a{
  height: auto;
  width: auto;
}

/*elementos del menu*/
.name__menu{
  width: 250px;
  min-height: 100px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.name__menu i{
  margin-left: 10px;
  margin-right: 20px;
  z-index: 1;
}

.opcion{
  width: auto;
  height: 40px;
}

.opciones__menu{
  padding: 20px 30px;
  position: absolute;
  top: 80px;
  align-items: center;
}

.opciones__menu a{
  color: #ffffffb2;
  cursor: pointer;
  /*la etiqueta a es como texto HAY que convertir a bloque*/
  display: block;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: color 300ms;
}

.opciones__menu a:hover{
  color: hsla(282, 92%, 36%, 0.563);
  border-radius: 45px;
  border-color: white;
}

.opciones__menu .opcion {
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.opciones__menu .opcion i{
  margin-left: -10px;
  margin-right: 20px;
  cursor: pointer;
}


.opciones__menu .opcion h4{
  font-weight: 300;
  cursor: pointer;
}

/*clase para el JavaScript*/
.body_move{
  margin-left: 284px;
}

.menu__side_move{
  width: 250px;
}