{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-gradient-indigo text-center">
                        <h3> Perfil </h3>
                    </div>
                    <div class="card-body">
                        {% if user %}
                            <div class="row">
                                <div class="card-body text-center">

                                    {% if user.id == name.id %}
                                        {{ name.first_name }} {{ name.email }}<br>
                                    {% endif %}
                                    <!--% endfor %}-->
                                    {{ user.first_name }}
                                    {{ user.id }}
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger mt-4"> No existe Us</div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}