
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
      {% load socialaccount %}
      {% load static %} <!-- indicar que debe importar todo el contenido de la carpeta-->
      <link  href="{% static 'loginSSO/css/style.css' %}" rel="stylesheet">
      <meta charset="utf-8">
      <title>Iniciar Sesion</title>
  </head>
  <body>
    <div class="center">
      <h1>Bienvenido</h1>
            <br>
                <p align="center">Puedes iniciar sesión con:</p>
                    <a href="{% provider_login_url 'google' %}">
                    <a href="{% url 'pantalla' %}">
                         <input type="submit" value="Google">
                    </a>
                    </a>
                <p>
            <br>
        </p>




    </div>

  </body>
</html>
