{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'loginSSO/css/style.css' %}">


  </head>
  <body>



    <div class="center">
        <p> PANTALLA PRINCIPAL</p>
         {% if user.is_authenticated %}
            <p>Inicio de sesión este usuario: {{ user.username   }}</p>

        {% endif %}

        <p>
            <a href="/accounts/logout/">

                logout
            </a>
        </p>
    </div>
  </body>
</html>


