{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/principalApp/css/estilos_base.css">
    <title>Gestor de Proyecto</title>
  </head>
  <body>
     {% if user.is_authenticated %}
        <div class="padre">
            <div class="hijo">
                <nav>
                    <a class="boton-nav" href="#">{{ user.first_name }}</a>
                    <a class="boton-nav" href="inicio">Inicio</a>
                    <a class="boton-nav" href="#">Mis proyectos</a>
                    <a class="boton-nav" href="#">Calendario</a>
                    <a class="boton-nav" href="/accounts/logout/">Cerrar Sesión</a>
                </nav>
            </div>
        </div>
    {% endif %}
  </body>
</html>