{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'loginSSO/css/style.css' %}">
  </head>
  <body>
     {% if user.is_authenticated %}
        <header>
            <div class="padre">
                <div class="hijo">
                    <nav>
                        <a class="boton-nav" href="/usuario/{{ user.id }}">{{ user.first_name }}</a>
                        <a class="boton-nav" href="inicio">Inicio</a>
                        <a class="boton-nav" href="/proyecto/nuevoProyecto/{{ user.id }}">Mis proyectos</a>
                        <a class="boton-nav" href="#">Calendario</a>
                        <a class="boton-nav" href="/accounts/logout/">Cerrar Sesión</a>
                    </nav>
                </div>
            </div>
        </header>
    {% endif %}
  </body>
</html>


